/*Barra del menu*/
body{
    background-color: black;
    color: white;
}
.menu{
    background-color: rgb(0, 0, 0);
    
}
#A {
    display: flex;
    color: rgb(224, 32, 32);
    gap: 30px;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     box-sizing: border-box;
    
}

a {
    text-decoration: none;
}
/*botones configurables de la barra del menu*/

.a1{
 width: Auto;
 height: auto;
 display: inline-block;
 
}
.a2{
    width: Auto;
    height: auto;
    display: inline-block;
   }

   .a3{
    width: Auto;
    height: auto;
    display: inline-block;
   }

   .a4{
    width: Auto;
    height: auto;
    display: inline-block;
   }

   .a5{
    width: auto;
    height: auto;
    display: inline-block;
   }

   .a6{
    width: auto;
    height: auto;
    display: inline-block;
   }

.link{
    text-decoration: none;
    color: inherit;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    position: relative;
}
.link:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.link:hover:after{
    width:100% ;
    right: 0;
}

/*Cuerpo y su contenido*/
#cuerpo{
    background-color: rgb(0, 0, 0);

}
#cuerpox{
   
    background-color: rgb(0, 0, 0);

}

.mcx{
    background-color: rgb(0, 0, 0);
    
    
}

#repsesc{
                  display: flex;
    justify-content: right;
       color: white;
   font-size: 56px;
   text-align: center;
}

.respeto{
    display: flex;
    justify-content: center;
}



#userNameDisplay {
    margin: 20px;
    font-size: 1.2em;
    color: white;
}

#openFormBtn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #a0a0a0;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.closeBtn {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form input,
form button {
    margin: 10px;
}







/*Barra final de @*/

@media screen and (max-height: 300px) {
    ul{
        margin-top:40px ;
    }
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
    text-decoration: none;
    color: inherit;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    position: relative;
}




li:after{
    content: "";
    width: 0;
    height: 4px;
    background-color: rgb(255, 174, 0);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
li:hover:after{
    width:100% ;
    right: 0;
}









.png {
    position: relative; /* El contenedor debe tener una posición relativa para que los elementos absolutos se posicionen con respecto a él */
    width: 50px;
    height: 50px;
    
}

.png_superpuesta {
    position: absolute;
    top: 20px; /* Ajusta según sea necesario */
    left: 20px; /* Ajusta según sea necesario */
    z-index: 1; /* Ajusta el índice z según sea necesario */
}



#cotimg{
    flex-direction: column;
    position: relative;
    text-align: center; /* Alineación de contenido centrado horizontalmente */
    display: flex; /* Flexbox para centrado vertical */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    
}
.pngx{
    justify-items: center;
    position: relative;
}